:host {
  .user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .search {
      position: fixed;
      left: 0;
      padding-left: 300px;

      ::ng-deep {
        input {
          font-weight: 400;
        }
      }
    }
  }

  .card-container {
    width: 700px;
  }

  .user-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .id {
      width: 10%;
    }

    .name {
      width: 40%;
    }

    .block-button {
      width: 40%;
    }
  }

  ::ng-deep {
    nb-card {
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
  }
}
