nb-card {
  border-radius: 15px;
}

.shop-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  & .shop {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  & div {
    text-align: center;
    width: 25%;
    & span {
      padding: 0 5px;
    }
  }
}

.inc-dec {
  & button:nth-last-child {
    padding-right: 15px;
  }
}
