.search-container {
  padding: 20px;
}

.shop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & div {
      height: 100%;
      cursor: pointer;
      &:hover {
        color: dodgerblue;
      }
  }
}
